[submodule "YOLOv6/YOLOv6_repo"]
	path = YOLOv6/YOLOv6_repo
	url = https://github.com/meituan/YOLOv6.git
[submodule "YOLOv5/YOLOv5_repo"]
	path = YOLOv5/YOLOv5_repo
	url = https://github.com/ultralytics/yolov5.git
[submodule "pts"]
	path = pts
	url = https://github.com/Smart-Traffic-Lights.git
	branch = pts